html,
body,
#root {
  height: 100%;
}

.pf-c-content {
  --pf-c-content--small--Color: red;
  --pf-c-content--blockquote--BorderLeftColor: purple;
  --pf-c-content--hr--BackgroundColor: lemonchiffon;
}
